{
  "presets": ["es2017"],
  // babel-plugin-syntax-dynamic-import serve para possibilitar que a syntax import funcione
  // e não seja necessário usar System.import
  "plugins": ["transform-decorators-legacy", "babel-plugin-syntax-dynamic-import"]
}
